/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

.tomorrow-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8;
}

pre code {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}




/**
 *     MAIN
 */
body, html {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	background-color: #F4F5EC;
	overflow-y: scroll;
}

a {
	color: #5c886b;
	transition: all .1s ease-in;
}
	a:hover {
		color: #c82829;
	}


#loading {
	top: 40%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	position: fixed;
	font-size: 50px;
	text-shadow: 0 1px 1px rgba(255,255,255,.3);
}


h1 {
	position: relative;
	margin: 0 0 50px 0;
	font-size: 40px;
	text-shadow: 0px 2px 0px rgba(255,255,255,.4)
}

	h2 {
		margin: 0 0 10px;
		font-size: 35px;
	}
		h2 a {
			text-decoration: none;
		}


h3 { color: #5BA689 }

pre, code {
	padding: 0;
	margin: 0;
}

fieldset {
	border: 0;
	margin: 30px 30px 20px;
	padding: 0;
}


form {
	margin: 0;
	padding: 0;
}


.link {
	color: #5BA689;
}


.tabs {
}
	.tab {
		color: #666;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		background-color: #C9CAC3;
		width: 50%;
		height: 70px;
		line-height: 70px;
		font-size: 30px;
		vertical-align: top;
	}
		.tab:active {
			height: 68px;
			padding-top: 2px;
			box-shadow: inset 0 2px 2px rgba(0,0,0,.15);
		}

		.tab:first-child {
			box-shadow: inset -1px -2px 3px rgba(0,0,0,.15);
		}

		.tab:last-child {
			box-shadow: inset 1px -2px 3px rgba(0,0,0,.15);
		}

		.tab.tab_active {
			cursor: default;
			box-shadow: none;
			background-color: #fff;
		}


.form {
	margin: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 0 20px rgba(0,0,0,.05);
	background-color: #fff;
}
	.form-login {
		margin: 0 auto;
		padding-top: 100px;
		max-width: 500px;
	}

	.form .foot {
		padding: 0 30px 30px;
	}
	.foot .left { width: 40%; }
	.foot .right {
		width: 40%;
		float: right;
		text-align: center;
	}
		.form .foot .right {
			line-height: 50px;
		}


.inp {
	margin-bottom: 20px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	background-color: #E8F2E4;
	padding-left: 15px;
	padding-right: 15px;
}
	.inp input,
	.inp textarea {
		width: 100%;
		height: 50px;
		border: 0;
		margin: 0;
		padding: 0;
		outline: 0;
		font-size: 30px;
		font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
		background-color: transparent;
		resize: none;
	}

	.inp textarea {
		font-size: 16px;
		min-height: 200px;
		padding-top: 10px;
	}

	.inp_focus {
		background-color: #FDFBE9;
	}

	.inp input::-moz-placeholder {
		color: #666;
		padding-left: 10px;
	}

	.inp input::-webkit-input-placeholder {
		color: #ccc;
		padding-left: 10px;
	}


.btn {
	border: 0;
	margin: 0;
	padding: 10px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	font-size: 24px;
	position: relative;
	border-radius: 4px;
	background-color: #80BD95;
	box-shadow: 0 3px 0 0 #72A884;
	text-shadow: 0 -2px 0 rgba(0,0,0,.2);
}
	.btn_reset {
		background-color: #dd6035;
		box-shadow: 0 3px 0 0 #a9401c;
	}

	.btn:active {
		top: 4px;
		box-shadow: none;
	}

	.foot .btn {
		width: 100%;
	}


.not-auth {
	padding: 12px 20px 15px 0;
	background-color: rgba(255,255,255,.8);
	border-right: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.not-auth,
.auth-user {
	margin-top: 20px;
	margin-right: 30px;
	float: right;
	opacity: 1;
	position: relative;
	transition: all .4s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
	.unactive {
		opacity: 0;
		margin-top: -50px;
	}

	.auth-user__photo,
	.auth-user__photo:before {
		width: 50px;
		height: 50px;
		display: inline-block;
		border: 5px solid rgba(255,255,255,.5);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		border-radius: 20%;
		background-color: #fff;
		vertical-align: middle;
	}

	.auth-user__photo {
		-webkit-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	.auth-user__photo:before {
		top: -5px;
		left: -5px;
		content: "";
		position: absolute;
		-webkit-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
		.auth-user__photo img {
			z-index: 100;
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			-webkit-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}

	.not-auth a,
	.auth-user__name {
		font-size: 20px;
		margin-left: 20px;
	}



.content {
	width: 70%;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}


.add-post,
.post-back {
	left: -70px;
	width: 50px;
	height: 50px;
	position: absolute;
	opacity: .75;
	background-color: #fff;
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
	.post-back,
	.add-post:hover {
		opacity: 1;
	}

	.add-post .plus {
		background-color: #5c886b;
		height: 8px;
		left: 10px;
		position: absolute;
		top: 20px;
		width: 30px;
	}
		.add-post .plus:after {
			background-color: #5c886b;
			content: '';
			position: absolute;
			height: 30px;
			left: 11px;
			top: -11px;
			width: 8px;
		}


.pointerLeft {
	margin: 14px 0 0 18px;
	width: 14px;
	height: 14px;
	border: solid #5c886b;
	border-width: 6px 6px 0 0;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}


.post {
	position: relative;
	margin-bottom: 50px;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	border-radius: 2px;
}
	.post__title {
		border-radius: 2px 2px 0 0;
		margin: 0;
		padding: 8px 20px 10px;
		font-size: 26px;
		background-color: rgba(199,201,185,.3);
	}

	.post__body {
		padding: 20px 20px;
		overflow: auto;
		background-color: rgba(255,255,255,.9);
		border-radius: 2px;
	}
		.post__body.compact {
			max-height: 400px;
			border-radius: 0 0 2px 2px;
		}

	.not-published {
		opacity: .7;
	}
		.post__publish,
		.post__unpublish {
			cursor: pointer;
			content: '';
			display: block;
			top: 15px;
			right: 10px;
			position: absolute;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #ff3c3b;
			box-shadow: inset -1px -1px 1px rgba(0,0,0,.3);
		}

		.post__unpublish {
			background-color: #08b600;
		}



.paginator {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.paginator li {
		display: inline-block;
	}

	.paginator a {
		padding: 10px 15px;
		margin-right: 5px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}

	.paginator .selected {
		color: #333;
		opacity: .7;
		box-shadow: none;
		text-decoration: none;
	}


.compose {
}
	.compose__field {
		padding: 10px;
		margin-bottom: 20px;
		background-color: rgba(255,255,255,.6);
		box-shadow: 0 1px 1px rgba(0,0,0,.2);
	}

		.compose__field .inp {
			margin-bottom: 0;
		}
